executable = /home/byuan43/fm/new/planetml/src/agents/runner/batch_inference/stable_diffusion.wisc.sh

# This is wrong, we should not copy model from home, to be fixed soon.
transfer_input_files = /home/byuan43/fm/new/GPT-home-private, /home/byuan43/fm/pretrained_models/python.tar.gz, /home/byuan43/fm/pretrained_models/stable-diffusion-v1-4.tar.gz


# We need to name the files that HTCondor should create to save the
#  terminal output (stdout) and error (stderr) created by our job.
#  Similarly, we need to name the log file where HTCondor will save
#  information about job execution steps.
error = /home/byuan43/fm/exec_logs/diffusion.error
output = /home/byuan43/fm/exec_logs/diffusion.output
log = /home/byuan43/fm/exec_logs/diffusion.log

# We need to request the resources that this job will need:
# requirements = (CUDACapability >= 6.1)
requirements = (HAS_MODULES =?= true)
request_cpus = 1
request_gpus = 1
request_memory = 10000 MB
request_disk = 16000 MB

# getenv = !PATH, !INCLUDE
# getenv = true

+WantsStashCache = true

# The last line of a submit file indicates how many jobs of the above
#  description should be queued. We'll start with one job.
queue 1
